@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This RMF Tool application will capture security controls for a determined system to be created, selected, categorized and implemented during phase 2 
   of the RMF process to manage organizational risk. 
   The application will also list the organization's systems security controls to be assesed in phase 4 of the RMF process
   The RMF Tool application will use a shared database as a storage for the exchange of security controls, generation of assessment reports,
   creation of new information systems</p>
