@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Risk Management Framework (RMF) Tool</h1>
    <p class="lead"></p>
    <p><a href="http://csrc.nist.gov/groups/SMA/fisma/framework.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to RMF Tool</h2>
        <p>
            RMF Tool is a proof of concept tool that  assists project managers, system owners and RMF assessors during
            phase 4 of the Risk Management Framework - Assessment phase
        </p>
        <p><a class="btn btn-default" href="http://csrc.nist.gov/groups/SMA/fisma/framework.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technology Used and Code</h2>
        <p>he RMF Tool  is a web application built in ASP.NET MVC 5 using Entity Framework 6.</p>
        <p><a class="btn btn-default" href="http://github.com/MarleneRZ/RMF-Tool">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collaboration</h2>
        <p>All documentation, code and collaboration effort is through GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/jomi2003/COSC800-CapstoneProject">Learn more &raquo;</a></p>
    </div>
</div>